body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

header {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}

 .menu .col-4 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.menu .col-4 img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.menu .col-4 h4 {
  font-size: 1.2em;
  text-align: center;
  margin-top: 10px;
  color: #333;
  font-weight: bold;
}

@media (max-width: 768px) {
  .menu .col-4 {
      width: 100%;
  }
}

@media (min-width: 769px) {
  .menu .col-4 {
      width: 30%;
  }
}
