body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.car-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.macchina {
    margin: 10px;
    text-align: center;
}

.macchina img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.car-details {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
  .card {
    border-radius: 15px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

